@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

.AccHead {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 1025px) and (min-width: 822px) {
  .Acc-ipad1 {
    margin-top: 9rem !important;
  }
  .resp-gap {
    gap: 2rem !important;
  }
}

@media (max-width: 821px) and (min-width: 767px) {
  .Acc-ipad {
    margin-top: 9rem !important;
  }

  .resp-gap {
    gap: 2rem !important;
  }
}

@media (max-width: 480px) {
  .resp-gap {
    gap: 2rem !important;
  }
  .AccHead {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }
  .AccImage1 {
    width: 180.42px !important;
    height: 237px !important;
    top: -63px !important;
    right: 0px !important;
  }

  .AccImage2 {
    width: 180.42px !important;
    height: 237px !important;
    left: -10px !important;
    top: -63px !important;
    transform: "scaleX(-1)";
  }
  .Acc-Main-Div {
    margin-top: 4rem !important;
  }
  .card-height {
    width: 150px !important;
  }
}
